.manywidgets-text {
  margin: 10px 0;
  font-family: var(--mw-font-family);
  font-size: var(--mw-font-size-md);
  color: var(--mw-color-text);
  line-height: 1.5;
}

.manywidgets-text--markdown :first-child {
  margin-top: 0;
}

.manywidgets-text--markdown :last-child {
  margin-bottom: 0;
}

.manywidgets-text--markdown code {
  background: var(--mw-color-code-bg);
  padding: 0.1em 0.3em;
  border-radius: var(--mw-radius-2);
  font-size: 0.9em;
  font-family: var(--mw-font-family-mono);
}
